*{
    margin: 0;
    padding: 0;
}
/* 版心,哪个盒子需要居中显示就调用它 */
.w{
    width: 1200px;
    margin: auto;
}
body {
    background-color: #f3f5f7;
    /* 指定高度便于布局 */
    height: 3200px;
}
/* 清除浮动 */
/* .clearfix:before,.clearfix:after{
    content: "";
    display: table;

}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
} */
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;
}
/* 清除浮动 */
.header{
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: purple; */
}
.nav{
    float: left;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    display: block;
    float: left;
    height: 42px;
    padding:0 10px;
    /* 垂直居中 */
    line-height: 42px;
    color: #050505;
}
.nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}
.search{
float: left;
margin-left: 50px;
width: 412px;
height: 42px;
background-color: skyblue;
}
.search input{
    width: 345px;
    height: 40px;
    border: 1px solid  #00a4ff;
    /* 去掉右边框 */
    border-right:0 ;
    color: #bfbfbf;
    font-size: 14px;
    /* 原宽度为360px在给定padding-left后会撑大盒子  so width -  pading-left*/
    padding-left: 15px;
}
.search button{
    float: right;
    width: 50px;
    height: 42px;
    /* button按钮默认有边框,需要去掉边框 */
    border: 0;
    /* button和表单都是行内块元素,之间会有默认缝隙,使刚好能装下盒子的大小被撑破 */
    /* 解决方法:加浮动 */
background: url(images/images/search.png);
}
.user{
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
    color: #666666;
}
/* 使图片和文字居中对齐 */
.user img{
    vertical-align: middle;
}
/* banner区域 */
.banner{
 height: 421px;
 background-color: #1b026c;
}
.banner .w{
    height: 421px;
    /* css里添加背景，不要img */
    background: url(images/images/banner.png) no-repeat top center;
}
.subnav{
    float: left;
    width: 192px;
    height: 421px;
    /* 半透明 */
    background:rgba(0,0,0,0.3);
}
.subnav ul li{
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.subnav ul li a{
    font-size: 14px;
    color: #fff;
}
.subnav ul li a span{
    float: right;
}
.subnav ul li a:hover{
    color: #00a4ff;

}
.course{
    float: right;
    /* 浮动的盒子不会有外边距合并的问题(塌陷) */
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}
.course h2{
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.bd{
    padding: 0 20px;
}
/* 上下挤开 */
.bd ul li{
    padding: 8px 0 ;
    border-bottom: 1px solid #ccc;
}
.bd ul li h4{
    font-size: 16px;
    color: #6f6f6f;
}
.bd ul li p {
    font-size: 12px;
    color: #5a5a5a;
}
.bd .more{
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}
.goods{
    margin-top: 10px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);  
    /* 水平，垂直，模糊距离 透明度 */
    line-height: 60px;
    /* 要使盒子里面的内容居中显示，给fatherline-height 儿子们会继承 */

}
.goods h3{
    float: left;
    margin-left: 30px;
    /* 左边的距离 */
    font-size: 16px;
    color: #00a4ff;
}
.goods ul{
    float: left;
    margin-left:30px
}
.goods ul li a{
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}
.modify{
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}
.goods ul li{
    float: left;
}
.box{
    margin-top: 30px;
}
.box-hd{
    height: 45px;
}
.box-hd h3{
    float: left;
    font-size: 20px;
    color: #cfd0d2;
}
.box-hd a{
    float: right;
    font-size: 12px;
    color: #00a4ff;
    margin-top: 10px;
    margin-right: 30px;
}
/* 把li的父亲ul修改得足够宽能够撞开5个盒子，li就不会掉下来 */
.box-bd ul {
    width: 1225px;
    overflow: hidden;
    /* 清除浮动记得用clearfix */
}
.box-bd ul li{
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.box-bd ul li > img{
    /* 选择亲儿子img */
    width: 100%;
}
.box-bd ul li{
    position: relative; 

}
/* 父相子绝 */
.box-bd ul li em{
    position: absolute;
    top: 4px;
    right: -4px;
}

.box-bd ul li h4{
    margin:20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;

}
.box-bd ul li .info{
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;

}
.box-bd .info span{
    color: #ff9159;
}
.footer{
    height: 415px;
    background-color:#fff;
}
.footer .w{
    padding-top: 25px;
}
.footer .copyright {
    float: left;
}
 .copyright p {
     margin: 20px 0 15px 0;
    font-size: 12px;
    color: #666;
}
.copyright .app{
    display: block;
    width: 118px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}
.footer .links{
    float: right;
}
.links dl{
    float: left;
    margin-left: 100px;
}
.links dl dt{
font-size: 16px;
color: #333;
margin-bottom: 5px;
}
.links dl dd a{
    color: #333;
    font-size: 12px;
}