.main{
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 12px;
}
.focus{
    width: 721px;
    height: 455px;
    float: left;
    background-color: gray;
    
}
.newsflash{
    width: 250px;
    height: 455px;
    float: right;
    /* background-color: skyblue; */
    
}
.news{
    height: 165px;
    /* background-color: yellow; */
    border: 1px solid #e8e8e7;
    border-top: 0;

}
.lifeservice{
    overflow: hidden;
    height: 209px;
    border: 1px solid #e8e8e7;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice ul li{
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e8e8e7;
    border-bottom: 1px solid #e8e8e7;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    text-align: center;
    margin-top: 12px;

}
.lifeservice .i1{
    background: url(../images/icons.png) no-repeat -16px -16px;    
}
.lifeservice .i2{
    position: relative;
    background: url(../images/icons.png) no-repeat -78px -16px;    

}
.lifeservice  ul li  .i2 div{
    position: absolute;
    top: -15px;
    right: -20px;
    /* height: 14px; */
    color: #fff;
    /* line-height: 14px; */
    background-color: #589d5a;
    /* padding: 0 5px; */
    border-radius: 7px 7px 7px 0;
}
.lifeservice .i3{
    background: url(../images/icons.png) no-repeat -140px -16px;    
}
.lifeservice .i4{
    background: url(../images/icons.png) no-repeat -205px -16px;    
}
.lifeservice .i5{
    background: url(../images/icons.png) no-repeat -16px -87px;    
}
.lifeservice .i6{
    background: url(../images/icons.png) no-repeat -78px -87px;    
}
.lifeservice .i7{
    background: url(../images/icons.png) no-repeat -140px -87px;    
}
.lifeservice .i8{
    background: url(../images/icons.png) no-repeat -205px -87px;    
}
.lifeservice .i9{
    background: url(../images/icons.png) no-repeat -16px -158px;    
}
.lifeservice .i10{
    background: url(../images/icons.png) no-repeat -78px -158px;    
}
.lifeservice .i11{
    background: url(../images/icons.png) no-repeat -140px -158px;    
}
.lifeservice .i12{
    background: url(../images/icons.png) no-repeat -205px -158px;    
}
.bargin{
    margin-top: 4px;
    background-color: purple;
 

}
.news-hd{
    height: 33px;
    line-height: 33px;
    
    border-bottom: 1px dotted #e8e8e7;
    padding: 0 15px;

}
.news-hd h5{
    float: left;
    font-size: 14px;
}
.news-hd .more{
    float: right;

}
.news-hd .more::after{
    font-family: 'icomoon';
    content: '\e920';
}
.news-bd li {
    height: 24px;
    line-height: 24px;
    padding:5px 15px 0;
    overflow: hidden;
    white-space: nowrap;
    /* 文字一行显示 */
    text-overflow: clip;
    /* 超出部分省略号显示 */

}
.recom{
    height: 163px;
    margin-top: 12px;
}
.recom_hd{
    float: left;
    height: 163px;
    width: 205px;
}
.recom_bd{
    float: left;
    height: 163px;
    float: left;
}
.recom_bd ul li{
    float: left;
    position: relative;
} 
.recom_bd ul li img{
    height: 163px;
    width: 248px;
    /* 把图片的宽度高度写死，就不用担心图片切的大小不一致了 */
}
.recom_bd ul li:nth-child(-n+3)::after{    
    /* 最后一个小li没有分隔符，选择器选前三个 */
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
background-color: #ddd;
}
.guesslike .hd{
    position: relative;
    height: 59px;
    font-size: 18px;
    color: #333333;
    line-height: 59px;
}
.guesslike .hd .update{
    position: absolute;
    right: 0;
    top: 0;
}
.guesslike .hd .update::after{
    content: '\ea2e';
    font-family: 'icomoon';
}
.guesslike {
   height: 300px;
}
.guesslike ul li{
    float: left;
}
.guesslike ul li img{
    width: 200px;
    height: 232px;
}
/* 家用电器模块 */
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3{
    float: left;
    color: #d04c53;
    font-size: 18px;
    font-weight: 400;
    /* 不加粗  */
}
.tab_list{
    float: right;
    line-height: 30px;
}
.tab_list ul li {
    float: left;
}
.tab_list ul li a{
    margin: 0 15px;
}
.floor .w{
    margin-top: 30px;
}
.box_bd{
    height: 361px;
}
.tab_list_item>div{
    float: left;

}
.col_210{
    width: 210px;
    height: 361px;
    /* 高度无法继承父亲box_bd */
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul li{
    float: left;
    width: 85px;
    height: 33px;
    border-bottom: 2px solid #ededed;
    text-align: center;
    /* 文字居中 */
    line-height: 33px;
    margin-right: 10px;
}
.col_210 ul{
    padding-left: 12px;
}
.col_329{
    height: 361px;
    width: 329px;
}
.col_221{
    height: 361px;
    width: 221px;
    border-right: 1px solid #ededed;
}
.col_219{
    height: 361px;
    width: 219px;
}
.bb{
    /* a如果包含有宽度的盒子，a需要转换为块级元素 */
    display: block;
    border: 1px solid #ededed;
}